.img_circle {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    margin-right: 10px;
}

.img_circle img {
    border-radius: 100%;
    border: 1px solid black;

}

div {
    font-size: 14px;
}
label {
    text-align: right;
}

input {
    margin-left: 20px;
    border: 5px solid red;
}

.circle {
    width: 40px;
    height: 40px;
    background: grey;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
}