<!DOCTYPE html>
<html>
<head>
    <title>绑定手机</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <style type="text/css">
        @import url("css/comon.css");
        .blue-btn{
            background-color: #5cadff;
            color:#fff;
        }

    </style>

</head>

<body ontouchstart>
<br>
<br>
<br>
<div class="weui-cells weui-cells_form">

    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入" type="text" id="name" value="" style="text-underline: #3d4145">
        </div>

    </div>
    <br>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">身份证号码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入" type="text" id="idCard" value="">
        </div>
        <div class="weui-cell__ft">
            <img src="images/scan.png" style="width: 26px;height: 26px">
        </div>

    </div>
    <br>
    <br>
    <br>
    <div class="weui-btn-area" style="display:none" id="btn1">
            <a class="weui-btn weui-btn_primary blue-btn" href="javascript:" >新增</a>
    </div>

    <div class="weui-btn-area" style="display:none" id="btn2">
        <a class="weui-btn weui-btn_primary blue-btn" href="javascript:">修改</a>
        <a class="weui-btn weui-btn_warn" href="javascript:">删除</a>
    </div>
    <div class="weui-btn-area" style="display:none" id="btn3">
        <a class="weui-btn weui-btn_warn" href="javascript:">删除</a>
    </div>

    <div class="weui-btn-area" style="display:none" id="btn4">
        <a class="weui-btn weui-btn_primary blue-btn" href="javascript:">修改</a>
    </div>

</div>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="js/myUtil.js"></script>
<script>
    
    $(function () {

        var index = getQueryString('index');
        var userId = getQueryString('userId');
        var userName = unescape(getQueryString('userName'));
        var idNo = getQueryString('idNo');
        //户主信息
        if(index=="householder"){
            document.getElementById('btn4').style.display='block'
            document.getElementById('name').value=userName
            document.getElementById('idCard').value=idNo
        }else if(index=="person"){
            if(getQueryString('isAuth')!="T"){
                document.getElementById('btn2').style.display='block'
            }else{
                document.getElementById('btn3').style.display='block'
            }
            document.getElementById('name').value=userName
            document.getElementById('idCard').value=idNo
        }else{
            document.getElementById('btn1').style.display='block'
        }



    })

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
</script>
</body>


</html>
