<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>身份认证</title>
    <meta content="width=device-width,initial-scale=1,user-scalable=0" name="viewport">
    <link href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css" rel="stylesheet">
    <style type="text/css">
        @import url("css/comon.css");
        .blue-btn{
            background-color: #5cadff;
            color:#fff;
        }
    </style>
</head>
<body ontouchstart>
<div class="weui-cells weui-cells_form">
    <div class="weui-cells__title">认证身份信息与小区信息后才能使用二维码哦！</div>
    <div class="weui-cell">
        <div class="weui-uploader" style="margin-right: auto; margin-left:auto;">
            <div class="weui-uploader__bd" >
                <ul class="weui-uploader__files" id="uploaderFiles" value="">
                    <!--                        <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(images/user.png)">-->
                </ul>
                <div class="weui-uploader__input-box" id="photoDiv" value="">
                    <span class="weui-uploader__input" onclick="jssdkimg(this)" id="choose" value=""></span>
                </div>
            </div>
           <font size="1.5" >点击拍摄或上传照片</font>
        </div>
    </div>
</div>

<div class="weui-cells weui-cells_form">
    <br>
    <strong>&nbsp; &nbsp;身份信息<font color="#8b0000">*</font></strong>
    <br>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div >
            <label  style="margin-left: 15px">姓名</label>
        </div>
        <div >
            <input class="weui-input" id="realName" placeholder="请输入您的真实姓名"  type="text" value="">
        </div>
    </div>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label style="margin-left: 15px">身份证号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="idNo" placeholder="请输入您的身份证号" type="text" value="" onblur="checkIdNo()">
        </div>

    </div>
    <br>
    <button class="weui-btn blue-btn" onclick="upload()">认证</button>
</div>

</body>

<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script src="js/myUtil.js"></script>
<script src="js/md5.js"></script>
<script>
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '[[${config.appid}]]', // 必填，公众号的唯一标识
        timestamp:'[[${config.timestamp}]]' , // 必填，生成签名的时间戳
        nonceStr: '[[${config.noncestr}]]', // 必填，生成签名的随机串
        signature: '[[${config.signature}]]',// 必填，签名
        jsApiList: ['[[${config.jsApiList[0]}]]','[[${config.jsApiList[1]}]]',
            '[[${config.jsApiList[2]}]]','[[${config.jsApiList[3]}]]','[[${config.jsApiList[4]}]]'] // 必填，需要使用的JS接口列表 这里填写需要用到的微信api openlocation为使用微信内置地图查看位置接口
    });
    wx.ready(function () {
        wx.checkJsApi({
            jsApiList: ['[[${config.jsApiList[0]}]]','[[${config.jsApiList[1]}]]'],
            success: function (res) {
                console.log(res)
            }
        });
    });
    wx.error(function(res){
        console.log(res);
    });

    $(function(){

        //解决表单控件不能回弹 只有微信ios有这个问题
        $("input,select,textarea").blur(function(){
            setTimeout(() => {
                const scrollHeight = document.documentElement.scrollTop || document.body.scrollTop || 0;
            window.scrollTo(0, Math.max(scrollHeight - 1, 0));
        }, 100);
        })

    });
    function removeimg(obj){
        $.confirm('您确定要删除吗?', '确认删除?', function() {
            $(obj).remove();
            $("#choose").val('');
            $("#photoDiv").show();
        });

    }
    function jssdkimg(obj){
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; //本地图片id
                $(obj).val(localIds);
                wx.uploadImage({
                    localId:'' + $("#choose").val(), // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 1, // 默认为1，显示进度提示
                    success: function (res) {

                        var serverId = res.serverId; // 返回图片的服务器端ID
                        $.toptip("检测人脸中！","success");
                        $.ajax({
                            //请求方式
                            type : "POST",
                            //请求的媒体类型
                            contentType: "application/x-www-form-urlencoded",
                            //请求地址
                            url : "user/uploadVerify",
                            //数据，json字符串
                            data : {userId:getCookie("userId"),
                                // token:getCookie(("token")),
                                mediaId:serverId,
                                type:3
                                // imgname:rst.base64
                            },
                            //请求成功
                            success : function(result) {
                                if (result.code==400){
                                    $.toptip(result.message);
                                }else {
                                    $.toptip("人脸识别成功","success");
                                    //图片服务器中的图片地址
                                    // $("#uploaderFiles").val

                                    $("#photoDiv").val(result.data.img);
                                    $("#uploaderFiles").val(result.data.imageFileName);

                                    // alert($("#uploaderFiles").val());
                                    $("#photoDiv").hide();

                                    $("#uploaderFiles").append('<li onclick="removeimg(this)" class="weui-uploader__file" style="background-image:url('+localIds+')"><input value=""  type="hidden"  name="file" /></li>');
                                }
                            }
                        });
                    }
                });

            }
        });}
    //退出
    function quit(){
        wx.closeWindow();
    }
    //上传图片
    function upload() {
        if (isEmpty($("#realName").val())){
            $.toptip("请输入您的真实姓名！");
        }else if (isEmpty($("#idNo").val())){
            $.toptip("请输入身份证号！");
        } else if (isEmpty($("#photoDiv").val())){
            $.toptip("请选择人脸图片！");
        }else if(checkIdNo()!=true) {
            return;
        }else{
                $.showLoading();
                $.ajax({
                    //请求方式
                    type : "POST",
                    //请求的媒体类型
                    contentType: "application/x-www-form-urlencoded",
                    //请求地址
                    url : "user/verify",
                    //数据，json字符串
                    data : {userId:getCookie("userId"),
                        // token:getCookie(("token")),
                        idHandleImgUrl: $("#uploaderFiles").val(),
                        idNO:$("#idNo").val(),
                        realName:$("#realName").val(),
                        localImgUrl:$("#photoDiv").val()
                    },
                    //请求成功
                    success : function(result) {
                        if (result.code==400){
                            $.toptip(result.message);
                            alert(result.message);
                            $.hideLoading();
                        }else {
                            $.hideLoading();
                            $.toptip("认证成功！",'success');

                            var data = result.data;
                            setCookie("userId",data.userId);
                            setCookie("isAuth",data.isAuth);
                            // alert(data.userId);
                            // alert(getCookie("userId"));
                            alert("认证成功！");
                            // alert(getCookie("isAuth"));
                            window.history.back();
                            // quit();
                            // quit();
                        }
                    },
                    error:function (e) {
                        $.toptip("网络错误!");
                    }
                });
            }

    }
    function test(){
        $.ajax({
            //请求方式
            type : "POST",
            //请求的媒体类型
            contentType: "application/x-www-form-urlencoded",
            //请求地址
            url : "user/verify",
            //数据，json字符串
            data : {userId:getCookie("userId"),
                // token:getCookie(("token")),
                idHandleImgUrl: "test",
                idNO:"test",
                realName:"test",
                localImgUrl:"test"
            },
            //请求成功
            success : function(result) {
                if (result.code==400){
                    $.toptip(result.message);
                    alert(result.message);
                    $.hideLoading();
                }else {
                    $.hideLoading();
                    $.toptip("认证成功！",'success');

                    var data = result.data;
                    setCookie("userId",data.userId);
                    setCookie("isAuth",data.isAuth);
                    alert(data.userId);
                    alert(getCookie("userId"));
                    alert("认证成功！");
                    // alert(getCookie("isAuth"));
                    window.history.back();
                    // quit();
                    // quit();
                }
            },
            error:function (e) {
                $.toptip("网络错误!");
            }
        });
    }
    function checkIdNo() {
        var regIdNo = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        var idNo = $("#idCard").val();
        if(!regIdNo.test(idNo)){
            $.toptip('身份证输入错误，请检查');
            return false;
        }else{
            $.toptip('身份证合法',"success");
            return true;
        }
    }
</script>

</html>