<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <style type="text/css">
        @import url("css/comon.css");
    </style>
</head>
<body ontouchstart>
<div class="page-hd">
    <h1 class="page-hd-title" align="center">
        实人认证
    </h1>
    <p class="page-hd-desc"></p>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cells__title">如果您已经在朋悦比邻app上注册并实名认证过，您也可以使用手机号登入！</div>

    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">真实姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入您的真实姓名" type="text" id="realName" value="">
        </div>

    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">身份证号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入您的身份证号" type="text" id="idNo" value="" >
        </div>

    </div>
    <div class="weui-cell">
    <div class="weui-cell__hd">
        <label class="weui-label" >人像图片上传</label>
    </div>
        <div class="weui-cell__hd">
            <div class="weui-uploader">
                <div class="weui-uploader__bd" style="
    padding-left: 30px" >
                    <ul class="weui-uploader__files" id="uploaderFiles" value="">
<!--                        <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(images/user.png)">-->
                    </ul>
                    <div class="weui-uploader__input-box" id="photoDiv" value="">
                        <span class="weui-uploader__input" onclick="jssdkimg(this)" id="choose" value=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="btn" onclick="upload()">确定</a>
    <a class="weui-btn weui-btn_primary" href="javascript:" id="show-login" onclick="login()" >app用户登录</a>
    <a class="weui-btn weui-btn_warn" href="javascript:" id="quit" onclick="quit()" >退出界面</a>
</div>
<br>
<br>

</div>

</body>

<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script src="js/myUtil.js"></script>
<script src="js/md5.js"></script>
<script>
    // var appid = ['[${config.appid}]'];
    // var config = '[[${config.jsApiList}]]';

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '[[${config.appid}]]', // 必填，公众号的唯一标识
        timestamp:'[[${config.timestamp}]]' , // 必填，生成签名的时间戳
        nonceStr: '[[${config.noncestr}]]', // 必填，生成签名的随机串
        signature: '[[${config.signature}]]',// 必填，签名
        jsApiList: ['[[${config.jsApiList[0]}]]','[[${config.jsApiList[1]}]]',
            '[[${config.jsApiList[2]}]]','[[${config.jsApiList[3]}]]','[[${config.jsApiList[4]}]]'] // 必填，需要使用的JS接口列表 这里填写需要用到的微信api openlocation为使用微信内置地图查看位置接口
    });
    wx.ready(function () {
        wx.checkJsApi({
            jsApiList: ['[[${config.jsApiList[0]}]]','[[${config.jsApiList[1]}]]'],
            success: function (res) {
                console.log(res)
            }
        });
    });
    wx.error(function(res){
        console.log(res);
    });

    $(function(){

        //解决表单控件不能回弹 只有微信ios有这个问题
        $("input,select,textarea").blur(function(){
            setTimeout(() => {
                const scrollHeight = document.documentElement.scrollTop || document.body.scrollTop || 0;
            window.scrollTo(0, Math.max(scrollHeight - 1, 0));
        }, 100);
        })

    });
    function login(){
        $.login({
            title: '朋悦比邻app用户登入',
            text: '使用朋悦比邻app注册过，并实名认证的用户登入',

            onOK: function (username, password) {
                //点击确认
                password= $.md5(password);
                console.log(password);
                pwdLogin(username, password);
            },
            onCancel: function () {
                //点击取消
            }
        });
    }
    function pwdLogin(username,password){
            $.showLoading();
            //做发送信息
            $.ajax({
                type: 'POST',
                contentType: "application/x-www-form-urlencoded",
                url: "user/login",
                data: {phone:username,
                    password:password,
                    openId:getCookie("openId")
                },
                success: function(result) {
                    $.hideLoading();
                    console.log(result);
                    if (result.code==200){
                        // setCookie('token',result.data.user.token,365);
                        setCookie('phone',username,365);
                        setCookie('userId',result.data.id,365);
                        setCookie('isAuth',result.data.isauth,365);
                        setCookie('myName', result.data.realname, 365);
                        // setCookie('imageServerUrl',result.data.imageServerUrl,365);
                        $.toptip("登入成功",'success');
                        if (result.data.isauth!=="T") {
                            $.toptip("对不起，该用户未实名，请实名后再使用哦");
                            return;
                        }
                        window.history.go(-1);
                        //判断用户
                        // console.log("该用户不存在")
                    }else if (result.code==400) {
                        $.toptip(result.message);
                    }else {
                        $.toptip("验证失败，请输入正确密码");
                    }
                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    $.hideLoading();
                    $.toptip(e.message);
                }
            });
        }
    function removeimg(obj){
        $.confirm('您确定要删除吗?', '确认删除?', function() {
            $(obj).remove();
            $("#choose").val('');
            $("#photoDiv").show();
        });

    }
    function jssdkimg(obj){
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; //本地图片id
                $(obj).val(localIds);
                wx.uploadImage({
                    localId:'' + $("#choose").val(), // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 1, // 默认为1，显示进度提示
                    success: function (res) {

                        var serverId = res.serverId; // 返回图片的服务器端ID
                        $.toptip("检测人脸中！","success");
                        $.ajax({
                            //请求方式
                            type : "POST",
                            //请求的媒体类型
                            contentType: "application/x-www-form-urlencoded",
                            //请求地址
                            url : "user/uploadVerify",
                            //数据，json字符串
                            data : {userId:getCookie("userId"),
                                // token:getCookie(("token")),
                                mediaId:serverId,
                                type:3
                                // imgname:rst.base64
                            },
                            //请求成功
                            success : function(result) {
                                if (result.code==400){
                                    $.toptip(result.message);
                                }else {
                                    $.toptip("人脸识别成功","success");
                                    //图片服务器中的图片地址
                                    // $("#uploaderFiles").val
                                        $("#photoDiv").val(result.data.img);
                                        alert($("#photoDiv").val());
                                    $("#photoDiv").hide();

                                    $("#uploaderFiles").append('<li onclick="removeimg(this)" class="weui-uploader__file" style="background-image:url('+localIds+')"><input value=""  type="hidden"  name="file" /></li>');
                                }
                            }
                        });
                    }
                });

            }
        });}
        //退出
    function quit(){
        wx.closeWindow();
    }
    //上传图片
    function upload() {
        if (isEmpty($("#realName").val())){
            $.toptip("请输入您的真实姓名！");
        }else if (isEmpty($("#idNo").val())){
            $.toptip("请输入身份证号！");
        } else if (isEmpty($("#photoDiv").val())){
            $.toptip("请选择人脸图片！");
        }else {
            $.showLoading();
            $.ajax({
                //请求方式
                type : "POST",
                //请求的媒体类型
                contentType: "application/x-www-form-urlencoded",
                //请求地址
                url : "user/verify",
                //数据，json字符串
                data : {userId:getCookie("userId"),
                    // token:getCookie(("token")),
                    idHandleImgUrl: $("#photoDiv").val(),
                    idNO:$("#idNo").val(),
                    realName:$("#realName").val()

                    // imgname:rst.base64
                },
                //请求成功
                success : function(result) {
                    if (result.code==400){
                        $.toptip(result.message);
                        alert(result.message);
                        $.hideLoading();
                    }else {
                        $.hideLoading();
                        $.toptip("认证成功！",'success');
                        window.history.go(-1);
                        // $.showLoading();
                        //发起访问
                        // $.ajax({
                        //     type: 'POST',
                        //     contentType: "application/x-www-form-urlencoded",
                        //     url: "visit/record/visitRequest",
                        //     data: {
                        //         //从跳转页获取用户id
                        //         userId: getCookie('userId'),
                        //         visitorId: getCookie('visitorId'),
                        //         // companyId: $("#company").attr("data-values"),
                        //         reason: getCookie('reason'),
                        //         startDate: getCookie('startTime'),
                        //         endDate: getCookie('endTime'),
                        //         token: getCookie('token')
                        //         // orgCode: $("#orgCode").attr("orgCode")
                        //     },
                        //     success: function(result) {
                        //         $.hideLoading();
                        //         var data = result.data;
                        //         console.log(result);
                        //         if (result.code==400){
                        //             $.toptip(result.message);
                        //             //登入过期
                        //             if (data=='overTime'){
                        //                 window.location.href=loginUrl;
                        //                 $.showLoading();
                        //                 //实名认证失败
                        //             }else if ('verifyFail'==data){
                        //
                        //                 window.location.href=authUrl;
                        //                 $.showLoading();
                        //             }else if ('tokenFail'==data){
                        //                 window.location.href=loginUrl;
                        //                 $.showLoading();
                        //             }else if ('userFail'==data) {
                        //                 window.location.href=loginUrl;
                        //                 $.showLoading();
                        //             }
                        //         }else{
                        //             $.toast("发起访问成功",'success');
                        //             alert("发起访问成功，对方同意后将在《朋悦比邻》公众号提示，请注意查收！");
                        //             // wx.closeWindow();
                        //         }
                        //     }
                        // });


                    }
                },
                error:function (e) {
                    $.toptip("网络错误!");
                }
            });
        }

    }


</script>
<script src="https://cdn.bootcss.com/webcamjs/1.0.25/webcam.js"></script>
<script src="js/myUtil.js"></script>

</html>