<!DOCTYPE html>
<html>
<head>
    <title>绑定手机</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <style type="text/css">
        @import url("css/comon.css");
    </style>

</head>

<body ontouchstart>
<div class="page-hd" align="center">
    <h2 class="page-hd-title">
       绑定手机号
    </h2>
    <p class="page-hd-desc"></p>
</div>
<div class="weui-cells weui-cells_form">

    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">手机号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入绑定的手机号" type="text" id="bindp" value="">
        </div>

    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">验证码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请输入验证码" type="text" id="code" value="">
        </div>
        <div class="weui-cell__ft">
            <button  class="weui-vcode-btn" onclick="getCode(this)" >获取验证码</button>

        </div>

    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="btn" onclick="checkCode()">确定</a>
    </div>
    <br>
    <br>

</div>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="js/myUtil.js"></script>
<script>

    var countdown=60;
    function getCode(ojb) {
        var code = $(ojb);
        if ($("#bindp").val()==""){
            $.toptip("手机号不能为空");
            return;
        }
        if (countdown==60){
            $.ajax({
                type: 'POST',
                contentType: "application/x-www-form-urlencoded",
                url: "code/sendCode/"+$("#bindp").val()+"/1",
                success: function(result) {
                    // $.hideLoading();
                    console.log(result);
                    var data=result.data;
                    console.log(data);
                    if (result.code==200){
                        $.toptip("发送成功","success");
                        // console.log("该用户不存在")
                    }else  if (result.code==400) {
                        if (result.message=="请求参数格式错误") {
                            $.toptip("发送短信失败，手机号码错误");
                        }else {
                            $.toptip(result.message);
                        }
                        countdown=0;
                    }
                }
            });
            code.text("重新发送(" + countdown + ")");
            code.attr('disabled',true);
            countdown--;
        } else if (countdown == 0) {
            code.removeAttr('disabled');
            code.text("获取验证码");
            countdown =60;

            return;
        } else {
            code.text("重新发送(" + countdown + ")");
            code.attr('disabled',true);
            countdown--;
        }

        setTimeout(function() {getCode(ojb) }, 1000);
    }

    //发送手机号及验证码
    function checkCode() {
        var phone = $("#bindp").val();
        var code = $("#code").val();
        var openid = getCookie("openId")
        if(phone==""){
            $.toptip("手机号不能为空");
            return false;
        }else{
            $.showLoading();
            //做发送信息
            $.ajax({
                type: 'POST',
                contentType: "application/x-www-form-urlencoded",
                url: "pybl/user/bindWxPhone",
                data: {phone:phone,
                    code:code,
                    openId:openid
                },
                success: function(result) {
                    $.hideLoading();
                    console.log(result);
                    if (result.code==200){
                        $.toptip("验证成功",'success');
                        setCookie('phone', phone, 365);
                        setCookie('userId', result.data.userId, 365);
                        window.location.href=invitUrl;
                    }else if (result.code==400) {
                        $.toptip(result.message);
                    }else {
                        $.toptip("验证失败，请输入正确验证码");
                    }
                },
                //请求失败，包含具体的错误信息
                error : function(e){
                    console.log(e.message);
                    $.toptip(e.message);
                    console.log(e.responseText);
                }
            });

        }
    }


</script>
</body>


</html>
