<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/2.0.1/style/weui.min.css"/>
</head>

<body >
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label hidden th:value="${state}" id="fromUrl">来自哪个页面</label>
        </div>
    </div>
    </div>
</div>
<br>
    <br>
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script src="js/myUtil.js"></script>
    <script>
        $(function() {
            setCookie('openId', '[[${openId}]]', 365);
            setCookie('myName', '[[${user.name}]]', 365);
            setCookie('userId', '[[${user.id}]]', 365);
            setCookie('isAuth', '[[${user.isAuth}]]', 365);
            setCookie('family', '[[${family}]]', 365);
            setCookie('hourse', '[[${hourse}]]', 365);
            setCookie('areaId', '[[${areaId}]]', 365);
            $.toptip("验证成功", 'success');
            if ("qrcode"=='[[${state}]]'){
                window.location.href=qrcodeUrl;
            }else if("adminInfor"=='[[${state}]]'){
                window.location.href=adminInforUrl;
            }else if("areaInfor"=='[[${state}]]'){
                window.location.href=areaInforUrl;
            }else if("familyIndex"=='[[${state}]]'){
                window.location.href=familyIndexUrl;
            }else if("download"=='[[${state}]]'){
                window.location.href=downloadUrl;
            }else if("auth"=='[[${state}]]'){
                window.location.href=authUrl;
            }else if("auth2"=='[[${state}]]'){
                window.location.href=auth2Url;
            }

        })

    </script>

</body>
</html>