<!DOCTYPE html>
<html>
<head>
    <title>记录详情</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">

    <style type="text/css">
        @import url("css/comon.css");
    </style>
    <title>
        <h3 class="demos-title">访问</h3>
    </title>

</head>

<body ontouchstart>
<div id="dataDetail"></div>
<!--<div class="weui-media-box weui-media-box_appmsg">
    <div class="weui-media-box__hd"></div>
    <div class="weui-media-box__bd">

        <p class="weui-cell__bd">&nbsp;&nbsp;&nbsp;发起人&nbsp;&nbsp;&nbsp; 本人</p><br>
        <p class="weui-cell__bd">&nbsp;&nbsp;&nbsp;受访人&nbsp;&nbsp;&nbsp; 李思思</p><br>
        <p class="weui-cell__bd">申请时间&nbsp;&nbsp;&nbsp; 2019-12-01 17:06</p><br>
        <p class="weui-cell__bd">受理时间&nbsp;&nbsp;&nbsp; 2019-12-01 18:27</p><br>
        <p class="weui-cell__bd">受理状态&nbsp;&nbsp;&nbsp; <font color="#006400">通过</font></p><br>
        <p class="weui-cell__bd">访问时间&nbsp;&nbsp;&nbsp; 2019-12-03 15:30-18:00</p><br>
        <p class="weui-cell__bd">访问地址&nbsp;&nbsp;&nbsp; 福州市IFC</p><br>
    </div>

</div>-->


<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="js/myUtil.js"></script>
<script>
    $(function () {

            var detail = window.localStorage.getItem("detailRecord");
            var detailJson = JSON.parse(detail)
            console.log(detailJson)
            var userName = "";
            var visitorName = "";
            if (detailJson.recordType === '1') {
                userName = "本人"
                visitorName = detailJson.realName;
            } else {
                userName = detailJson.realName
                visitorName = "本人";
            }
            //申请时间
            var applyDate = detailJson.visitDate + " " + detailJson.visitTime;
            //受理时间
            var replyDate = detailJson.replyDate + " " + detailJson.replyTime;
            //访问时间
            var date = detailJson.startDate.substring(0, 10);
            var startTime = detailJson.startDate.substring(11, 16);
            var endTime = detailJson.endDate.substring(11, 16);
            var visitDate = date + " " + startTime + "-" + endTime;
            //记录状态
            var status = "";
            if (detailJson.vstatus == "access") {
                status = "<font color=\"#006400\">通过</font>";
            } else if (detailJson.vstatus == "refuse") {
                status = "<font color=\"#8b0000\">拒绝</font>";
            } else if (detailJson.vstatus == "unaudited") {
                status = "<font color=\"blue\">待审核</font>";
            } else if (detailJson.vstatus == "expired") {
                status = "<font color=\"#696969\">过期</font>";
            } else {
                status = "未知状态";
            }
            $("#dataDetail").append("<div class=\"weui-media-box weui-media-box_appmsg\">\n" +
                "    <div class=\"weui-media-box__hd\"></div>\n" +
                "    <div class=\"weui-media-box__bd\">\n" +
                "\n" +
                "        <p class=\"weui-cell__bd\">&nbsp;&nbsp;&nbsp;发起人&nbsp;&nbsp;&nbsp; " + userName + "</p><br>\n" +
                "        <p class=\"weui-cell__bd\">&nbsp;&nbsp;&nbsp;受访人&nbsp;&nbsp;&nbsp; " + visitorName + "</p><br>\n" +
                "        <p class=\"weui-cell__bd\">申请时间&nbsp;&nbsp;&nbsp; " + applyDate + "</p><br>\n" +
                "        <p class=\"weui-cell__bd\">受理时间&nbsp;&nbsp;&nbsp; " + replyDate + "</p><br>\n" +
                "        <p class=\"weui-cell__bd\">受理状态&nbsp;&nbsp;&nbsp; " + status + "</p><br>\n" +
                "        <p class=\"weui-cell__bd\">访问时间&nbsp;&nbsp;&nbsp; " + visitDate + "</p><br>\n" +
                "        <p class=\"weui-cell__bd\">访问地址&nbsp;&nbsp;&nbsp; " + detailJson.addr + "</p><br>\n" +
                "    </div>\n" +
                "</div>")
        if(status == "unaudited"){
            $("#dataDetail").append("<div>\n" +
                "    <a href=\"javascript:;\" class=\"weui-btn weui-btn_primary\" onclick=\"verify('T')\">通过</a>\n" +
                "    <a href=\"javascript:;\" class=\"weui-btn weui-btn_warn\" onclick=\"verify('F')\">拒绝</a>\n" +
                "</div>")
        }
        })

   function verify(status) {
       if(status=="T"){
          alert("审核还在开发.....")
       }else{
           alert("审核还在开发.....")
       }
   }
</script>
</body>
</html>
