<!DOCTYPE html>
<html>
<head>
    <title>访问申请</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <style type="text/css">
        @import url("css/comon.css");
        .blue-btn{
            background-color: #5cadff;
            color:#fff;
        }
    </style>

</head>

<body ontouchstart>
<div class="weui-cells weui-cells_form">

    <div class="weui-cell">
        <div class="weui-cell__hd">
            <p>访客姓名： <font id="name"></font></p>
        </div>

    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
           <p>手机号码：<font id="phone"></font></p>
        </div>
    </div>
    <div class="weui-cell" id="visitDateShow" style="display: none">
        <div class="weui-cell__hd">
            <p>访问时间：<font id="visitDate"></font></p>
        </div>
    </div>
    <br>
    <div class="weui-btn-area" id="applying" style="display: none">
        <a class="weui-btn weui-btn_default blue-btn" href="javascript:" id="access" onclick="verify('applySuccess')" style="font-size: 16px">通过</a>
        <a class="weui-btn weui-btn_warn" href="javascript:" id="define" onclick="verify('applyFail')" style="font-size: 16px">拒绝</a>
    </div>
    <div class="weui-btn-area" id="applied" style="display: none">
        <a href="javascript:" class="weui-btn weui-btn_disabled weui-btn_default">已审核</a>
    </div>
    <div class="weui-btn-area" id="applied2" style="display: none">
        <a href="javascript:" class="weui-btn weui-btn_disabled weui-btn_default">已过期</a>
    </div>



</div>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script src="js/myUtil.js"></script>
<script>

    var recordId;
    $(function () {
        recordId = getQueryString("recordId");
        getUserInfo();
    })

    function getUserInfo() {
        $.ajax({
            url: "visitor/record/getUserByRecordId",
            type: "post",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            data:{
                recordId:recordId,
            },
            success: function(result) {
                console.log(result)
                if(result.code==200){
                    document.getElementById("name").innerText=result.data.name;
                    document.getElementById("phone").innerText=result.data.phone;
                    var cstatus = result.data.cstatus;
                    var expired = result.data.expired;
                    if(cstatus == "applying" && expired == "F"){
                        document.getElementById("applying").style.display='block';
                    }else if(cstatus == "applying" && expired == "T"){
                        document.getElementById("visitDateShow").style.display='block';
                        document.getElementById("applied2").style.display='block';
                        document.getElementById("visitDate").innerText = result.data.visit_date;
                    }else {
                        document.getElementById("visitDateShow").style.display='block';
                        document.getElementById("applied").style.display='block';
                        document.getElementById("visitDate").innerText = result.data.visit_date;
                    }
                }else{
                    $.toptip(result.message)
                }
            }
        });
    }
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    function verify(str) {
        $.ajax({
            url: "visitor/record/replyRecord",
            type: "post",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            data:{
                recordId:recordId,
                cstatus:str
            },
            success: function(result) {
                if(result.code == 200){
                    $.toast("审核成功，页面即将关闭");
                    //点击确认后的回调函数
                    setTimeout(function(){ quit();},1500);
                }else{
                    $.toptip(result.message)
                }

            }
        });
    }

    function quit(){
        wx.closeWindow();
    }
</script>
</body>
</html>
