<!DOCTYPE html>
<html>
<head>
    <title>访问邀约记录</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <style type="text/css">
        @import url("css/comon.css");
    </style>
    <title>
        <h3 class="demos-title">访问</h3>
    </title>

</head>

<body ontouchstart>
<div id="recordHead">
    <div class="page-hd">
        <div class="weui-cell">
            <div class="weui-cell__hd"><img src="images/user.png" style="width: 40px;height: 40px;"></div>
            <div class="weui-cell__bd">
                    <p id="his-name"> 暂无</p>
                </div>
                <div class="weui-cell__ft">Ta和我有 <font color="blue" id ="record-count">0 </font> 条来往记录</div>
            </div>
    </div>

</div>


<div class="content"
     style="background-color: #FFFFFF; width: 100%;height:100%;position: absolute; margin-bottom:45px;padding:0px; overflow: hidden;">
    <div class="list-main-mian weui-form-preview infinite weui-pull-to-refresh" id="listwrap"
         style="height:100%; margin-top: 1px;overflow:auto;  z-index: 1">
        <!--    内容展示区-->
        <div class="weui-form-preview" id="recordBody">
        </div>
        <div class="weui-loadmore" id="loading" style="padding-bottom:30px;height:20px;display: none">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
        <div class="weui-loadmore weui-loadmore_line" id="over" style="padding-bottom:30px;height:20px;display: none">
            <span class="weui-loadmore__tips">没有更多数据了</span>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="js/myUtil.js"></script>
<script>
    $(function () {
        $.showLoading();
        getRecord2();
        $("#his-name").html(window.localStorage.getItem("rName"));
    });
    var pages = 1;
    var sizes = 10;
    var loading = false;  //状态标记
    var hasNextPage = true;
    $("#listwrap").infinite().on("infinite", function () {
        if (loading) return;
        if (!hasNextPage) return;
        loading = true;
        pages++; //页数
        console.log(pages);
        $('#loading').show();
        getRecord2();

    });

    function getRecord2() {
        $.ajax({
            type: 'POST',
            contentType: "application/x-www-form-urlencoded",
            url: "visit/record/recordDetail",
            data: {

                pages: pages,
                sizes: sizes,
                visitorId: window.localStorage.getItem("rVisitorId"),
                userId: window.localStorage.getItem("rUserId"),
                loginId:getCookie("userId")
            },
            // visitorId: window.localStorage.getItem("rVisitorId"),
            // userId:getCookie("userId")},
            success: function (result) {
                $.hideLoading();
                var list = result.data.list;

                $("#record-count").html(result.data.total);
                for (var i in list) {
                    var date = list[i].startDate.substring(0, 10);
                    var startTime = list[i].startDate.substring(11, 16)
                    var endTime = list[i].endDate.substring(11, 16)
                    var divShow = "";

                    if (list[i].vstatus == "access") {
                        divShow = "<div class=\\\"weui-cell__bd\\\"><font color=\"#006400\">通过</font></div>";
                    } else if (list[i].vstatus == "refuse") {
                        divShow = "<div class=\\\"weui-cell__bd\\\"><font color=\"#8b0000\">拒绝</font></div>";
                    } else if (list[i].vstatus == "unaudited") {
                        divShow = "<div class=\\\"weui-cell__bd\\\"><font color=\"blue\">待审核</font></div>";
                    } else if (list[i].vstatus == "expired") {
                        divShow = "<div class=\\\"weui-cell__bd\\\"><font color=\"#696969\">过期</font></div>";
                    } else {
                        divShow = "<div class=\\\"weui-cell__bd\\\">未知状态</div>";
                    }
                    $("#recordBody").append("<a href=\"javascript:void(0);\" class=\"weui-media-box weui-media-box_appmsg\" onclick=\"toDetail('"+encodeURI(JSON.stringify(list[i]))+"')\">\n" +
                        "\n" +
                        "    <div class=\"weui-media-box__bd\">\n" +
                        "        <p class=\"weui-cell__bd\">访问时间&nbsp;&nbsp;&nbsp; " + date + " " + startTime + "-" + endTime + "</p><br>\n" +
                        "        <p class=\"weui-cell__bd\">访问地址&nbsp;&nbsp;&nbsp; " + list[i].addr + "</p>\n" +
                        "    </div>\n" +
                        "    <div class=\\\"weui-panel__ft\\\">\n" +
                        divShow +
                        "    </div>\n" +
                        "</a>");
                }
                $('.weui-loadmore').hide();
                loading = false;
                hasNextPage = result.data.hasNextPage;
                if (!hasNextPage) {
                    $('#over').show();
                }
            },
            error: function (e) {
                $.hideLoading();
                alert("发送错误");

            }
        })

    }

    function toDetail(obj) {
        window.localStorage.setItem("detailRecord", decodeURI(obj));
        window.location.href = recordDetailUrl;

    }

</script>
</body>
</html>
