<!DOCTYPE html>
<html>
<head>
    <title>认证家庭</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <style type="text/css">
        @import url("css/comon.css");
        .blue-btn{
            background-color: #5cadff;
            color:#fff;
        }
    </style>

</head>

<body ontouchstart>


<div class="weui-cell" align="center">
    <div class="weui-cell__bd">
        <font color="blue" size="4">① 家庭地址</font><font size="4"> ------ </font><font size="4">② 户主信息</font>
    </div>
</div>


<div class="weui-cells weui-cells_form">

    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">家庭住址</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="请选择地区" id="addr" type="text" value="">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">小区名称</label>
        </div>
        <div class="weui-cell__bd">
            <select class="weui-select" id="communityaddr">
            <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">楼号</label>
        </div>
        <div class="weui-cell__bd">
            <select class="weui-select" id="houseaddr">
             <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">楼层</label>
        </div>
        <div class="weui-cell__bd">
            <select class="weui-select" id="floor">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">门牌号</label>
        </div>
        <div class="weui-cell__bd">
            <select class="weui-select" id="paltaddr">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <br>
    <br>
    <div>
        <a class="weui-btn weui-btn_default blue-btn" href="javascript:" onclick="next()">下一步</a>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script type="text/javascript" src="js/city-data.js" charset="utf-8"></script>
<script type="text/javascript" src="js/city-picker.js" charset="utf-8"></script>

<script src="js/myUtil.js"></script>
<script src="js/jquery-weui.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);

        if( sessionStorage.getItem("back")=="T"){
            $("#addr").val(sessionStorage.getItem("addr"));
            $("#addr").attr("data-code",sessionStorage.getItem("addrcode"));
            $("#communityaddr option").remove();
            $("#communityaddr").append(sessionStorage.getItem("communityaddrhtml"))
            $("#communityaddr").val(sessionStorage.getItem("communityaddr"));

            $("#houseaddr option").remove();
            $("#houseaddr").append(sessionStorage.getItem("houseaddrhtml"))
            $("#houseaddr").val(sessionStorage.getItem("houseaddr"));

            $("#floor option").remove();
            $("#floor").append(sessionStorage.getItem("floorhtml"))
            $("#floor").val(sessionStorage.getItem("floor"));

            $("#paltaddr option").remove();
            $("#paltaddr").append(sessionStorage.getItem("paltaddrhtml"))
            $("#paltaddr").val(sessionStorage.getItem("paltaddr"));
        }
    });
</script>
<script>

    $("#addr").cityPicker({
        title: "选择出发地",
        onChange: function (picker, values, displayValues) {
            //console.log(values, displayValues);
        	loadCommunityaddr();
        }
    });
    
    function loadCommunityaddr(){
    	var addr = $("#addr").attr("data-code");
    	$.ajax({
            url: "area/areaList",
            type: "post",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            data: {
				areaCode:addr
            },
            success: function(data) {
            	$("#communityaddr option").remove();
                var _data = data.data; //由于后台传过来的json有个data，在此重命名
                var html = '<option value="">请选择</option>';
                for (var e in _data) {
                    html += '<option value="' + _data[e].id + '">' + _data[e].areaName + '</option>'
                }
                sessionStorage.setItem("communityaddrhtml",html);
                $("#communityaddr").append(html); //渲染
            }
        });
    	//alert(addr);
    } 
    
    $("#communityaddr").bind("change",function(){
    	var areaId = $("#communityaddr option:selected").val();
    	$.ajax({
            url: "building/buildingList",
            type: "post",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            data: {
				areaId: areaId
            },
            success: function(data) {
            	$("#houseaddr option").remove();
                var _data = data.data; //由于后台传过来的json有个data，在此重命名
                var html = '<option value="">请选择</option>';
                for (var e in _data) {
                    html += '<option value="' + _data[e].id + '">' + _data[e].name + '</option>'
                }
                sessionStorage.setItem("houseaddrhtml",html);
                $("#houseaddr").append(html); //渲染
            }
        });
    });
    var rooms;
    $("#houseaddr").bind("change",function(){
        var buildingId = $("#houseaddr option:selected").val();
        console.log("buildingId:"+buildingId)
        $.ajax({
            url: "building/building",
            type: "post",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            data: {
                buildingId: buildingId
            },
            success: function(data) {
                $("#floor option").remove();
                console.log(data)
                 var _data = data.data;
                 rooms = _data.numberRange;
                 var html = '<option value="">请选择</option>';
                 for(var i=1;i<=_data.totalFloor;i++){
                     html += '<option value="' +i + '">' + i + '</option>'
                 }
                 sessionStorage.setItem("floorhtml",html);
                 $("#floor").append(html); //渲染*/
            }
        });
    })
    $("#floor").bind("change",function(){
        var floorNum = $("#floor option:selected").val();
        $("#paltaddr option").remove();
        var html = '<option value="">请选择</option>';
        for(var i=1;i<=rooms;i++){
            var num;
            if(i<10){
                num=floorNum+"0"+i
            }else{
                num=floorNum+""+i
            }
            html += '<option value="' +num + '">' + num + '</option>'
            sessionStorage.setItem("paltaddrhtml",html);
        }
        $("#paltaddr").append(html); //渲染*/
    })
   function next() {

	   var addr =  $("#addr").attr("data-code");
       var communityaddr = $("#communityaddr option:selected").val();
	   var houseaddr = $("#houseaddr option:selected").val();
       var floor = $("#floor option:selected").val();
	   var paltaddr = $("#paltaddr option:selected").val();
	   if(isEmpty(addr)){
           $.toptip("请选择家庭住址！");
       }else if(isEmpty(communityaddr)){
           $.toptip("请选择小区！");
       }else if(isEmpty(houseaddr)){
           $.toptip("请选择楼号！");
       }else if(isEmpty(floor)){
           $.toptip("请选择楼层！");
       }else if(isEmpty(paltaddr)){
           $.toptip("请选择门牌号！");
       }else{
           sessionStorage.setItem("back","T");
           sessionStorage.setItem("addr",$("#addr").val());
           sessionStorage.setItem("addrcode",$("#addr").attr("data-code"));
           sessionStorage.setItem("communityaddr",$("#communityaddr").val());
           sessionStorage.setItem("houseaddr",$("#houseaddr").val());
           sessionStorage.setItem("floor",$("#floor").val());
           sessionStorage.setItem("paltaddr",$("#paltaddr").val());
           window.location.href="verifyFamily2?&houseaddr="+houseaddr+"&paltaddr="+paltaddr;
       }

   }
</script>
</body>
</html>
