<!DOCTYPE html>
<html>
<head>
    <title>访问</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <style type="text/css">
        @import url("css/comon.css");
        .blue-btn{
            background-color: #5cadff;
            color:#fff;
        }
    </style>

</head>

<body ontouchstart>

<div class="weui-cells weui-cells_form">

    <div class="weui-cell">
        <div class="weui-cell__hd">
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__bd">
                    <h5 class="weui-media-box__title">访问申请</h5>
                    <p class="weui-media-box__desc">2月27日  10:33</p>
                    <p class="weui-media-box__desc"><font size="3">访客姓名：   张三</font></p>
                    <p class="weui-media-box__desc"><font size="3">手机号码：   18065988645</font></p>
                </div>
            </a>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__bd">
                    <h5 class="weui-media-box__title">访问申请</h5>
                    <p class="weui-media-box__desc">2月27日  10:33</p>
                    <p class="weui-media-box__desc"><font size="3">访客姓名：   张三</font></p>
                    <p class="weui-media-box__desc"><font size="3">手机号码：   18065988645</font></p>
                </div>
            </a>
        </div>
    </div>


</div>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.js"></script>
<script src="js/myUtil.js"></script>
<script>

</script>
</body>
</html>
