<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.AccessRecordMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.AccessRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="turn_over" jdbcType="VARCHAR" property="turnOver" />
    <result column="pass_date" jdbcType="VARCHAR" property="passDate" />
    <result column="pass_time" jdbcType="VARCHAR" property="passTime" />
    <result column="personType" jdbcType="VARCHAR" property="persontype" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="manager_id" jdbcType="VARCHAR" property="managerId" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>

  <select id="findUserAccessArea" parameterType="Long" resultType="map" >
    select ar.*,u.name,u.phone,u.img_url
    from h_access_record ar
    left join h_user u on u.id = ar.user_id
    where ar.user_id = #{userId} and ar.area_id =#{areaId}
   </select>
</mapper>