<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.AreaMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Area">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="pass_limit" jdbcType="INTEGER" property="passLimit" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="opre" jdbcType="VARCHAR" property="opre" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <resultMap id="myResultMap" type="com.company.project.model.Area">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="pass_limit" jdbcType="INTEGER" property="passLimit" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="opre" jdbcType="VARCHAR" property="opre" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
    
    <collection property="building" ofType="com.company.project.model.Building">
      <result column="bid" jdbcType="BIGINT" property="id" />
      <result column="area_id" jdbcType="BIGINT" property="areaId" />
      <result column="total_floor" jdbcType="INTEGER" property="totalFloor" />
      <result column="building_name" jdbcType="VARCHAR" property="name" />
      <result column="number_range" jdbcType="VARCHAR" property="numberRange" />
      <result column="create_time" jdbcType="VARCHAR" property="createTime" />
      <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
      <result column="ext1" jdbcType="VARCHAR" property="ext1" />
      <result column="ext2" jdbcType="VARCHAR" property="ext2" />
      <result column="ext3" jdbcType="VARCHAR" property="ext3" />
    </collection>
    <collection property="family" ofType="com.company.project.model.Family">
      <result column="fid" jdbcType="BIGINT" property="id" />
      <result column="house_id" jdbcType="BIGINT" property="houseId" />
      <result column="user_id" jdbcType="BIGINT" property="userId" />
      <result column="status" jdbcType="VARCHAR" property="status" />
      <result column="create_time" jdbcType="VARCHAR" property="createTime" />
      <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
      <result column="ext1" jdbcType="VARCHAR" property="ext1" />
      <result column="ext2" jdbcType="VARCHAR" property="ext2" />
      <result column="ext3" jdbcType="VARCHAR" property="ext3" />
    </collection>
    <collection property="hourse" ofType="com.company.project.model.Hourse">
      <result column="hid" jdbcType="BIGINT" property="id" />
      <result column="building_id" jdbcType="BIGINT" property="buildingId" />
      <result column="num" jdbcType="VARCHAR" property="num" />
      <result column="user_id" jdbcType="VARCHAR" property="userId" />
      <result column="is_rent" jdbcType="VARCHAR" property="isRent" />
      <result column="rent_id" jdbcType="VARCHAR" property="rentId" />
      <result column="create_time" jdbcType="VARCHAR" property="createTime" />
      <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
      <result column="ext1" jdbcType="VARCHAR" property="ext1" />
      <result column="ext2" jdbcType="VARCHAR" property="ext2" />
      <result column="ext3" jdbcType="VARCHAR" property="ext3" />
    </collection>
     <collection property="user" ofType="com.company.project.model.User">
     <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="name" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="is_auth" jdbcType="VARCHAR" property="isAuth" />
    <result column="auth_date" jdbcType="VARCHAR" property="authDate" />
    <result column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId" />
    <result column="is_manager" jdbcType="VARCHAR" property="isManager" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
    </collection>
    <collection property="record" ofType="com.company.project.model.Record">
	 <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="pass_time" jdbcType="VARCHAR" property="passTime" />
    <result column="is_pass" jdbcType="VARCHAR" property="isPass" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
    </collection>
  </resultMap>
  <select id="areaList" resultMap="BaseResultMap" parameterType="string">
  	select * from h_area where area_code=#{areaCode}
  </select>
  
    <!-- 查看所有得小区 -->
  <select id="findAreaById" resultMap="myResultMap" parameterType="Long">
	select ha.*,house.id hid from h_area ha
 LEFT JOIN h_building hu on ha.id = hu.area_id
 LEFT JOIN h_hourse house on hu.id = house.building_id
 LEFT JOIN h_family hf on house.id = hf.house_id
 where hf.user_id=#{userId} and hf.`status`='0'
  </select>

  <!-- 查看小区下用户得所有家庭对应得楼栋 -->
  <select id="findByAreaId" resultMap="myResultMap" parameterType="Long">
  select hu.*,house.*,hu.name building_name,house.id hid from h_area ha
  LEFT JOIN h_building hu on ha.id = hu.area_id
  LEFT JOIN h_hourse house on hu.id = house.building_id
  LEFT JOIN h_family hf on house.id = hf.house_id
  where hf.user_id=#{userId} and ha.id=#{areaId} and hf.`status`='0'
  </select>
  
  <!-- 查看小区下的人员通行记录 -->
  <select id="record" resultMap="myResultMap" parameterType="Long">
  	SELECT * from h_area ha
	LEFT JOIN h_record hr on ha.id=hr.area_id
	LEFT JOIN h_building hb on hr.id=hb.area_id
	LEFT JOIN h_hourse hh on hr.id=hh.building_id
	LEFT JOIN h_user hu on hr.user_id=hu.id
	WHERE ha.id=#{areaId} ORDER BY hb.total_floor,hh.num
  </select>
</mapper>

